* {
	font-family:Verdana;
	text-align:center;
}
#baner {
	background-color: darkgreen;
	color: white;
	padding: 5px;

}

#blokLewy {
	background-color: palegreen;
	width:30%;
	height: 500px;
	float:left;

}

#blokPrawy {
	background-color: honeydew;
	width:70%;
	height: 500px;
	padding-top:100px;
	float:left;
	box-sizing:border-box;
}

#stopka {
	background-color:palegreen;
	padding:3px;
}

table, td {
	border-color:darkgreen;
	border-width: 1px;
	border-style:solid;
	border-collapse:collapse;

}

td, th {
	padding-top:20px;
	padding-bottom:20px;
	padding-left:0px;
	padding-right:0px;
}

table {
	width:95%;
	margin:auto;
}

button {
	background-color:darkgreen;
	color:white;
	padding:5px;
}

button:hover {
		background-color:honeydew;
		color:darkgreen;
}